[Unit]
Description=Clipboard persistence for Wayland
Documentation=https://github.com/Linus789/wl-clip-persist
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Slice=session.slice
ExecStart=/usr/bin/wl-clip-persist --clipboard regular

[Install]
WantedBy=graphical-session.target
