[init]
defaultBranch = main
[user]
email = 29689012+xadips@users.noreply.github.com
name = xadips
signingkey = C30D3E7D1257494C
[core]
editor = vim
[color]
ui = auto
[remote "origin"]
push = HEAD
[color]
branch = auto
diff = auto
status = auto
[pull]
rebase = true
[commit]
gpgsign = true
[gpg]
program = gpg2
