[init]
defaultBranch = main
[user]
email = 29689012+xadips@users.noreply.github.com
name = xadips
signingkey = /home/spidax/.ssh/id_rsa.pub
[core]
editor = vim
[color]
ui = auto
[remote "origin"]
push = HEAD
[color]
branch = auto
diff = auto
status = auto
[pull]
rebase = true
[commit]
gpgsign = true
[gpg]
format = ssh
